* {
  box-sizing: border-box;
}

body {
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  flex-wrap: wrap;
}

.square {
  width: 16px;
  height: 16px;
  background: #eee;
  margin: 2px;
  -webkit-box-shadow: 0 0 2px #fff;
  -moz-box-shadow: 0 0 2px #fff;
  box-shadow: 0 0 2px #fff;
  transition: 2s ease;
}

.square:hover {
  transition-duration: 0s;
}